<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @currency.symbol %>
</p>

<p>
  <strong>Price btc:</strong>
  <%= @currency.price_btc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong>Price usd:</strong>
  <%= @currency.price_usd %>
</p>

<p>
  <strong>Change 1h:</strong>
  <%= @currency.change_1h %>
</p>

<p>
  <strong>Change 24h:</strong>
  <%= @currency.change_24h %>
</p>

<%= link_to 'Edit', edit_currency_path(@currency) %> |
<%= link_to 'Back', currencies_path %>
